img {
  width: 20px;
  margin-top: -0.3rem;
}

#blue-image {
  width: 15px;
}

small {
  font-size: 1rem;
}

@media (max-width: 992px) {
  small {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  small {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  small {
    font-size: 0.7rem;
  }
}
