.card {
  background-color: #f8f8f8;
  border: none;
}

.card-body {
  padding: 0.8rem;
  line-height: 1;
  min-height: 100px;
  word-break: break-word;
  /* border: 1px solid blue; */
}

.card-title {
  font-size: 1.2rem;
}

.card-text {
  font-size: 0.8rem;
}

.card-footer {
  padding: 0.8rem;
  background-color: transparent;
  border: none;
  /* position: relative; */
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.7rem;
}
