.stocks-grid {
  padding: 0.3rem;
}

.earning-link {
  text-decoration: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex-grow: 1;
  min-width: 25%;
  padding: 0.3rem;
}

/* FOR NAV */

a {
  cursor: pointer;
}

li.nav-item {
  font-size: 0.9rem;
  margin-right: 1.5rem;
  padding-bottom: 0;
}

li.nav-item:last-child {
  margin-right: 0;
}

nav {
  border-radius: 1.5rem;
  padding: 0;
}

@media (max-width: 992px) {
  .grid-item {
    min-width: 33.33%;
  }

  li.nav-item {
    font-size: 0.8rem;
    margin-right: 1.3rem;
  }
}

@media (max-width: 768px) {
  .grid-item {
    min-width: 50%;
  }

  li.nav-item {
    font-size: 0.7rem;
    margin-right: 1rem;
  }
}

@media (max-width: 576px) {
  .grid-item {
    min-width: 100%;
  }

  li.nav-item {
    font-size: 0.6rem;
    margin-right: 0.8rem;
  }
}
