<div *ngIf="showLoading || (isLoaded && errorText)" [ngStyle]="{'height': height}" class="d-flex justify-content-center align-items-center flex-column">
  <app-loading *ngIf="showLoading"></app-loading>

  <app-empty-data
    class="text-center"
    *ngIf="isLoaded && errorText"
    [errorText]="errorText"></app-empty-data>
</div>

<div
  [hidden]="showLoading"
  *ngIf="!errorText"
  [ngStyle]="{
  'border-bottom':showBottomBorder ? 
  '1px dashed #67c196' : 
  'none'
}">
  <div
    class="chartContainer"
    [ngStyle]="{'height': height}">
    <canvas #chartDiv></canvas>
  </div>
</div>
