<div class="row mb-3 d-flex justify-content-between align-items-center">
  <div>
    <h2>Bionano Genomics Inc. <span class="font-weight-normal">(BNGO)</span></h2>
    <h3 class="stock-price mb-0">1.36 <span class="text-success font-weight-normal">+0.46(+53.81%)</span></h3>
    <small [appMutedText]="'0.8rem'">IES real time price as of {{todaysDate | date:'mediumTime'}}</small>
  </div>
  <div>
    <img src="/assets/images/icons/star-blue-outline.png">
  </div>
</div>

<div class="row text-right">
  <div class="col-md-12">
    <small [appMutedText]="'0.7rem'">Previous Close</small>
    <br>
    <strong>0.884</strong>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <app-stock-chart></app-stock-chart>
  </div>
</div>
