.wrapper {
  margin-bottom: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  color: #303030;
  font-size: 0.9rem;
}

img {
  min-height: 100%;
}

.tag {
  display: inline;
  padding: 0.1rem 0.4rem;
  margin-right: 0.5rem;
  color: #4f8ce5;
}

a {
  cursor: pointer;
}

@media (max-width: 992px) {
  img {
    padding-bottom: 1.4rem;
  }

  .wrapper {
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  img {
    padding-bottom: 1.5rem;
  }

  .wrapper {
    margin-bottom: 2.2rem;
  }
}

@media (max-width: 576px) {
  img {
    padding-bottom: 1.2rem;
  }

  .wrapper {
    margin-bottom: 2.4rem;
  }
}
