a {
  cursor: pointer;
}

li.nav-item,
button {
  font-size: 0.9rem;
}

ul li.nav-item {
  margin-right: 1.2rem;
  padding-bottom: 0;
}

ul li.nav-item:last-child {
  margin-right: 0;
}

li.active {
  border-bottom: 2px solid black;
  font-weight: bold;
}

nav {
  border-radius: 1.5rem;
  padding: 0 1rem;
}

img {
  width: 0.7rem;
  margin-right: 0.5rem;
}

button {
  margin-right: 1rem;
}

button:last-child {
  margin-right: 0;
}

@media (max-width: 992px) {
  li.nav-item,
  button {
    font-size: 0.8rem;
  }

  img {
    width: 0.7rem;
    margin-right: 0.4rem;
  }

  button {
    margin-right: 0.8rem;
  }
}

@media (max-width: 768px) {
  li.nav-item,
  button {
    font-size: 0.7rem;
  }

  img {
    width: 0.6rem;
    margin-right: 0.3rem;
  }

  button:first-child {
    margin-right: 0.6rem;
  }
}

@media (max-width: 576px) {
  li.nav-item,
  button {
    font-size: 0.6rem;
  }

  img {
    width: 0.5rem;
    margin-right: 0.2rem;
  }

  button {
    margin-right: 0.4rem;
  }
}
