/* #chartContainer > div > a {
  display: none !important;
  color: red;
} */

/* a[href*="canvasjs"] {
  display: none;
} */

#chartContainer {
  height: 150px;
  width: 100%;
  margin-left: -5%;
  margin-right: auto;
}

.blocking-div {
  height: 40px;
  width: 80px;
  background-color: white;
  /* border: 1px solid red; */
  position: absolute;
  bottom: -10px;
  margin-left: -5%;
}
