.card {
  background-color: #f8f8f8;
  border: none;
  box-shadow: 0px 2px 5px rgba(248, 248, 248, 0.425);
}

.card-body {
  padding: 0.8rem;
  line-height: 0.8;
  min-height: 100px;
  word-break: break-word;
  /* border: 1px solid blue; */
}

.card-title {
  font-size: 0.9rem;
}

.card-text {
  font-size: 0.7rem;
  color: #838383;
  /* line-height: 0.4; */
}

.card-footer {
  padding: 0.8rem;
  background-color: transparent;
  border: none;
  /* position: relative; */
}

h4 {
  font-size: 0.9rem;
}

h5 {
  font-size: 0.7rem;
}

.loading-template {
  min-height: 165px;
  box-shadow: 0px 2px 5px rgba(248, 248, 248, 0.425);
  background-color: #f8f8f8;
}

.rotate {
  animation: rotation 2s infinite linear;
}
