<ng-template #loadingTemplate>
  <div class="loading-template d-flex justify-content-center align-items-center flex-column">
    <app-loading *ngIf="isLoading"></app-loading>

    <img *ngIf="!isLoading" class="w-50" src="/assets/images/icons/empty.svg">
    <p *ngIf="!isLoading" class="p-2" [appMutedText]="'0.7rem'">{{errorText}}</p>
  </div>
</ng-template>

<div #stockCard *ngIf="!isLoading && this.stockInformation; else loadingTemplate" class="card">
  <div class="card-body">
    <h4 class="card-title font-weight-bold mb-0">{{stockInformation?.symbol | uppercase}}</h4>
    <!-- <span class="card-text">Fuelcell Energy Inc</span> -->
    <!-- <span class="card-text">{{stockInformation?.name}}</span> -->
  </div>
  <div class="card-footer">
    <h4 class="text-right font-weight-bold mb-0">{{stockInformation?.price | number:'1.2-3'}}</h4>
    <h5 class="text-right" [ngClass]="getTextClass(stockInformation?.changePercent)">{{stockInformation?.changePercent | formatPercent:'1.2-3'}}
    </h5>
  </div>
</div>
