.my-overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(255, 255, 255) !important;
  /* background-color: rgba(0, 0, 0, 0.9) !important; */
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin,
.spinner-big {
  font-size: 100px !important;
}

.overlay-image-div img {
  margin-bottom: 1.3rem;
  max-width: 6rem;
}

.overlay-loading-div img {
  max-width: 3rem;
}
