/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

@media (min-width: 1200px) {
  .container {
    max-width: 70vw;
    /* border: 1px solid red; */
  }
}

a[href*="https://canvasjs.com"]
{
  display: none;
}

/*
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
} */
