.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

span {
  color: #8d8d8d;
}

span:first-child {
  font-size: 0.7rem;
  font-weight: 400;
  display: block;
  padding-bottom: 0.5rem;
}

span:last-child {
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
}

a:hover {
  text-decoration: none;
}

.badge {
  margin-right: 0.4rem;
  font-size: 0.7rem;
}

/* .badge- */

/* 
@media (max-width: 992px) {
  span {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  span {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  span {
    max-width: 100%;
  }
} */
